h5{
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: 60px;
border-style: solid;
border-color: red;
background-color: white;
border-top-width: 10px;border-right-width: 10px;border-left-width: 10px;border-bottom-width: 10px;width: 850px;}


h7 {
padding-top: 50px;
font-family:sans-serif ;
font-size: 40px;
}

h1{
 border: solid; 
 border-size:10px; 
 border-color: red; background-color:white;
}
body{
    background:url("bg.jpg");
   background-size: cover;
}
